body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f4eee8;
  text-align: center;
  font-size: 12pt;
}

@media (min-width: 700px) {
  body {
    font-size: 24pt;
  }
}

.center {
  margin: auto;
}

.center__title {
  color: #325288;
  font-size: 1em;
}

.center__uuid {
  font-family: monospace;
  color: #114e60;
}

.center__uuid::-moz-selection, 
.center__uuid::selection {
  border-radius: 5px;
  background-color: #f5cebe;
}
